<nav class="navbar navbar-headerbar theme">
  <div class="container navbar-brands">
    <div class="navbar-header">
      <a href="http://www.telekom.com">
        <img alt="Logo of Deutsche Telekom" class="logo-telekom"
             src="{{ request.static_url('oscad:static/img/t-logo-128x60.orig.png') }}" />
      </a>
      <img alt="LIFE IS FOR SHARING" class="motto-telekom"
           src="{{ request.static_url('oscad:static/img/t-slogan-en-198x60.orig.png') }}" />
    </div>
  </div>
</nav>
