{# -------------------------------------------------------------------------- #}
{#   OSCAd - the Open Source Compliance Advisor                               #}
{#   Copyright (C) 2014 Deutsche Telekom AG                                   #}
{#                                                                            #}
{#   This program is free software: you can redistribute it and/or modify     #}
{#   it under the terms of the GNU Affero General Public License as           #}
{#   published by the Free Software Foundation, either version 3 of the       #}
{#   License, or (at your option) any later version.                          #}
{#                                                                            #}
{#   This program is distributed in the hope that it will be useful,          #}
{#   but WITHOUT ANY WARRANTY; without even the implied warranty of           #}
{#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the            #}
{#   GNU Affero General Public License for more details.                      #}
{#                                                                            #}
{#   You should have received a copy of the GNU Affero General Public License #}
{#   along with this program.  If not, see <http://www.gnu.org/licenses/>.    #}
{# -------------------------------------------------------------------------- #}
{%- extends 'base.jinja2' -%}

{%- block content -%}
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">{{request.select('Hinweis', 'Hint') }}</h4>
      </div>
      <div class="panel-body">
        {%- if request.is_german -%}
	  Es ist vorgesehen, dass OSCAd für jede einzelne Open Source Software
	  und jede einzelne Lizenz, die Ihr Projekt verwendet, angewendet wird.
	  Wenn Sie Open Source Software aber nur intern nutzen, ohne Sie weiterzugeben,
	  dann kommt OSCAd oft (aber nicht immer) zum gleichen Ergebnis:
	  Es gibt keine Tätigkeiten, die sie ausführen müssen, aber Sie müssen 
	  einige Verbote beachten.
	{%- else -%}
          OSCAd is intended to be used for each single open source software 
	  program or license in a project. But if you use the open source 
	  software only internally without distributing it, then OSCAd often 
	  (but not always) offers the same conclusion: There are no tasks 
	  to be performed but you must respect some interdictions.
        {%- endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  {%- block request -%}{%- endblock -%}
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3>
      {%- if request.is_german -%}
	Herausforderung: Manchnal verwendet ein Projekt sehr viele Open Source
	Bibliotheken und Anwendungen.
      {%- else -%}
	Challenge: Sometimes a project uses many open source libs and apps.
      {%- endif -%}
    </h3>
    <p>
      {%- if request.is_german -%}
	OSCAd ist dafür vorgesehen, auf alle Open Source Programme und
	alle Open Source Bibliotheken, die von einem Projekt verwendet werden,
	einzeln angewendet zu werden.
      {%- else -%}
	OSCAd is intended to be used for each individual open source software program 
	or library used by a project.  That is necessary because you have to fulfill 
	the license conditions for every single open source software. In general 
	grouping is not possible.
      {%- endif -%}
    </p>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <h3>
      {%- if request.is_german -%}
	Lösung: Vereinfachung nur für einen bestimmten Anwendungsfall
      {%- else -%}
	Solution: Simplification only for particular use-cases
      {%- endif -%}
    </h3>
    <p>
      {%- if request.is_german -%}
	Aber wenn Sie die Open Source Software nur intern verwenden, ohne sie
	jemals an Dritte weiter zu geben, dann führt die Analyse von OSCAd oft
	(aber nicht immer) zum gleichen Ergebnis: Sie müssen nichts tun, außer
	einige Verbote zu beachten.
      {%- else -%}
	But if you use the open source software only internally without distributing it 
	to any third party, the OSCAd analysis often (but not always) leads to the same 
	conclusion: you have to do nothing but to respect some interdictions. 
      {%- endif -%}
    </p>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <h3>
      {%- if request.is_german -%}
	Umsetzung: Beantworten Sie drei Fragen, um den Anwendungsfall zu bestimmen.
      {% else -%}
	Implementation: Answer three questions to determine the use-case
      {%- endif -%}
    </h3>
    <p>
      {%- if request.is_german -%}
	Dieser Test prüft, ob für alle Softwarepakete, die Sie verwenden,
	ein Anwendungsfall vorliegt, der eine vereinfachte Lösung ermöglicht.
	Sollte das der Fall sein, so erhalten Sie eine Liste von Verboten,
	die Sie für alle Softwarepakete, die Sie verwenden wollen, beachten
	sollten.  Dann ist es nicht erforderlich, OSCAd auf jedes einzelne
	Softwarepaket anzuwenden.
      {%- else -%}
	This check determines whether all software packages that you use are 
	covered by a use-case that allows a simplfied solution. If it is, 
	you will get a list of interdictions that apply to all of the open source 
	software that you want to use and you won't have to call the OSCAd 
	for each single open source software package. 
      {%- endif -%}
    </p>
  </div>
</div>

<div class="row">
  {%- include 'disclaimer.jinja2' -%}
</div>
{%- endblock -%}
