<div class="row">
  <div class="col-md-offset-1 col-md-2 result-answer-label">
    {{ _('Request:') }}
  </div>
  <div class="col-md-8">
    <p>
      {%- trans -%}
	Can I simplify the process of using OSCAd, if I want to modify or distribute open source software or if I want to use Open Source Software that is distributed under a license that is not covered by OSLiC?
      {%- endtrans -%}
    </p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-offset-1 col-md-2 result-answer-label">
    {{_('Answer:')}}:
  </div>
  <div class="col-md-8">
    <p>
      {%- trans -%}
	Unfortunately, in these cases you will have to use OSCAd to analyse each license separately for all software packages that you want to modify or distribute.  Licenses that are not covered by OSLiC cannot be analyzed with OSCAd at all.
      {%- endtrans -%}
    </p>
  </div>
</div>


