{# -------------------------------------------------------------------------- #}
{#   OSCAd - the Open Source Compliance Advisor                               #}
{#   Copyright (C) 2014 Deutsche Telekom AG                                   #}
{#                                                                            #}
{#   This program is free software: you can redistribute it and/or modify     #}
{#   it under the terms of the GNU Affero General Public License as           #}
{#   published by the Free Software Foundation, either version 3 of the       #}
{#   License, or (at your option) any later version.                          #}
{#                                                                            #}
{#   This program is distributed in the hope that it will be useful,          #}
{#   but WITHOUT ANY WARRANTY; without even the implied warranty of           #}
{#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the            #}
{#   GNU Affero General Public License for more details.                      #}
{#                                                                            #}
{#   You should have received a copy of the GNU Affero General Public License #}
{#   along with this program.  If not, see <http://www.gnu.org/licenses/>.    #}
{# -------------------------------------------------------------------------- #}
<div class="row">
  <div class="col-md-offset-1 col-md-2 result-answer-label">
    {{request.select('Anfrage:', 'Request:')}}
  </div>
  <div class="col-md-8">
    <p>
      {%- if request.is_german -%}
	Vorausgesetzt, dass ich die unveränderte Open Source Software nur intern
	verwende und jedes der Softwarepakete unter einer vom OSLiC abgedeckten Lizenz
	steht, was muss ich tun, um mich lizenzkonform zu verhalten?
      {%- else -%}
	Provided I want to use unmodified open source software only internally 
	and that each of the software packages is licensed under one of the licenses 
	covered by OSLiC, what do I have to do for acting in accordance 
	with these licenses?
      {%- endif -%}
    </p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-offset-1 col-md-2 result-answer-label">
    {{request.select('Antwort:', 'Answer:')}}:
  </div>
  <div class="col-md-8">
    <p>
      {%- if request.is_german -%}
	Für jedes der Open Source Softwarepakete, dass Sie verwenden wollen,
	würde OSCAd antworten, dass Sie nichts tun müssen; und für einige 
	der Pakete würde OSCAd hinzufügen, dass Sie einige Verbote beachten müssen.
	Daher halten Sie sicherlich alle Lizenzen ein, wenn Sie die folgenden
	Verbote alle für jedes der von Ihnen verwendeten Softwarepakete einhalten.
      {%- else -%}
	For each of the open source software packages that you want to use
	OSCAd would answer that you do not have to do anything; and for some 
	of these packages OSCAd would add that you must respect some interdictions. 
	So, if you respect all the following interdictions for each piece 
	of open source software you will certainly comply with all of the licenses.
      {%- endif -%}
    </p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-offset-1 col-md-2 result-answer-label">
    <b>requires:</b>
  </div>
  <div class="col-md-8">
    <b>
      no tasks in order to fulfill the conditions of all licenses 
      of the open source software that you want to use
    </b>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-offset-1 col-md-2 result-answer-label">
    <b>forbids:</b>
  </div>
  <div class="col-md-8">
    <ul>
      <li>
	to use trade names, trademarks, service marks, or product names 
	of any of the licensors - except as required for reasonable and 
	customary use in describing the origin of the work 
      </li>
      <li>
	to endorse or to promote any of your services that are based on 
	this software by one of the software names or by trademarks, 
	service marks, logos, or product names that are linked to the software 
      </li>
      <li>
	to use the name of the licensing organizations or the names 
	of the contributors to promote your own work 
      </li>
      <li>
	to institute any patent litigation against anyone alleging 
	that the software constitutes patent infringement. 
      </li>
      <li>
	to remove or to alter any copyright notices or license notices 
	(including patent notices, disclaimers of warranty, or limitations of liablility) 
	contained within the software package you have received 
      </li>
      <li>
	to use any contributors' name, logo, or trademarks 
	(without an additional or general legally based approval) 
      </li>
    </ul>
  </div>
</div>

